* {
    box-sizing: border-box; /* מבטיח שה-padding וה-border לא יגרמו לבעיות עם רוחב הדף */
}

body {
    margin: 0; /* מוודא שאין מרווחים מיותרים */
    overflow-x: hidden; /* מונע גלילה אופקית */
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: space-between; /* שיבטיח שהאלמנטים יהיו בצדי השורה */
}

.nav-left-links, .nav-right-links {
    display: flex;
    gap: 15px; /* רווח בין הקישורים */
}

.nav-link {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
    background-color: #0056b3;
}

.nav-right {
    margin-left: auto; /* צמוד לימין */
}
